*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
     --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #dbe6ef;
}
body{
    background-color: var(--primary-text-color);
}

.border{
    border : 2px solid black;
}


.div1{
    text-align: center;
    color: white;
    margin-top: 20px;

}
.button{
    width: 350px;
    margin-inline: auto;
    display: flex;
    justify-content: space-evenly;
    
    flex-wrap: wrap;
    /* border: 1px solid black; */
    height: 350px;
    margin-top: 40px;
    gap: 10px;
}
.btn{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    transition: 0.3s ease-in;
    border: none;
    font-size: 2rem;
    color: var(--secondary-text-color);
    background-color:var(--accent-color-dark);
}
.btn:hover{
    
    transform: scale(1.05);
}
.reset{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    

   

}
.reset h2{
    color: white;
    font-size:2.5rem ;
    margin-bottom: 40px;
    
}
.btn2{
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    background-color: #a1c6cd;

}
.btn2:hover{
    border: 2px solid #324a4f;
}

